

/* Style for buttons */
button {
  background-color: #28a745; /* Green */
  color: #fff; /* White text */
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #6c757d; /* Gray for disabled state */
  cursor: not-allowed;
}

/* Style for modal */
.modal-content {
  background-color: #f8f9fa; /* Light Gray */
}

/* Style for table */
.table th, .table td {
  text-align: center;
}

.table thead th {
  background-color: #007bff; /* Blue */
  color: #fff; /* White text */
}

.table tbody tr:hover {
  background-color: #e2e6ea; /* Lighter Gray on hover */
}

/* Style for edit button */
button.edit-btn {
  background-color: #ffc107; /* Yellow */
  color: #212529; /* Dark text */
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button.edit-btn:hover {
  background-color: #ffca2c; /* Lighter Yellow on hover */
}




/* Center the TimerSection */
#timer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center; /* Center text */
}

/* Style for buttons */
button {
  background-color: #28a745; /* Green */
  color: #fff; /* White text */
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #6c757d; /* Gray for disabled state */
  cursor: not-allowed;
}
